.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: inherit;
}

.react-calendar__tile {
  height: 130px !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px !important;
  border: 1px solid #f1f5f9 !important;
  border-radius: 8px;
}

.react-calendar__tile--now {
  background: #f0f9ff !important;
  border: 2px solid #3b82f6 !important;
}

.react-calendar__navigation button {
  font-weight: 800;
  color: #1e293b;
  font-size: 1.1rem;
}