.react-calendar {
  width: 100%;
  background: white;
  border: none;
  font-family: inherit;
  line-height: 1.125em;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #cbd5e1;
}
.react-calendar__tile {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px !important;
  border: 1px solid #f1f5f9 !important;
}
.react-calendar__tile--active {
  background: #eff6ff !important;
  color: #1e40af !important;
}
.react-calendar__tile:hover {
  background: #f8fafc !important;
}